body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0D0D0D;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #222;
}

header h1 {
    color: #F7931A;
    margin: 0;
}

nav a {
    color: #FFFFFF;
    margin-left: 15px;
    text-decoration: none;
    opacity: 0.8;
}

nav a:hover {
    color: #F7931A;
    opacity: 1;
}

.btn-redirigir a {
    color: #0D0D0D;
    text-decoration: none;
}

.btn-redirigir:hover a {
    color: #FFFFFF;
}

.botones-redirigir {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;;
}

.btn, .btn-redirigir {
    background: #F7931A;
    color: #0D0D0D;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;

}

.btn:hover, .btn-redirigir:hover {
    opacity: 0.9;
    color: #FFFFFF;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    color: #F7931A;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: #111;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #222;
}

.card p {
    color: #555;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #555;
    border-top: 1px solid #222;
}

 /* HERO */
.hero, .contactanos, .perfil {
    text-align: center;
    padding: 100px 20px;
}

.hero h2, .contactanos h2, .perfil h2 {
    font-size: 45px;
    margin: 0;
    color: #FFFFFF;
}

.hero, .contactanos, .perfil p {
    color: #555;
    font-size: 18px;
    margin: 15px 0 30px;
}

.instalaciones {
    padding: 60px 20px;
    text-align: center;
}

.instalaciones h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 20px;
}

.resaltado{
    color: #F7931A;
}

.instalaciones p {
    color: #555;
    font-size: 20px;
    margin: 0 auto;
    max-width: 600px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px; 
    background-color: #0D0D0D; 
    padding: 50px;
}

.container-text {
    flex: 1; 
}

.container-text h2 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.container-text h2 .resaltado {
    color: #F7931A; 
}

.container-text p {
    color: #555;
    font-size: 25px;
    margin: 0 0 30px;
    text-align: left;
}

.container-img {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
}

.container-img img {
    width: 100%; 
    max-width: 500px; 
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container-main {
        flex-direction: column;
        text-align: center;
    }
    .container-text, .container-img {
        text-align: center;
    }
}

.buffet {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 40px;
    padding: 60px;
    background: #0D0D0D; 
}


.buffet-text {
    flex: 1;
}

.buffet h2 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: left; 
    margin-bottom: 20px;
}

.buffet h2 .resaltado {
    color: #F7931A; 
}

.buffet p {
    color: #555;
    font-size: 25px;
    margin: 0;
    text-align: left; 
}

.buffet-img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.buffet img {
    width: 100%; 
    max-width: 500px; 
    height: 350px; 
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #F7931A;
}

@media (max-width: 900px) {
    .buffet {
        flex-direction: column;
        text-align: center;
    }
    .buffet h2, .buffet p {
        text-align: center;
    }
}

.gym, .zonas-humedas {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 290px;
    padding: 50px;
    background-color: #0D0D0D;
    width: 100%;
    box-sizing: border-box;
}

.gym-text, .zonas-humedas-text {
    flex: 1;
}

.gym-text h2, .zonas-humedas-text h2 {
    color: #FFFFFF;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.gym-text .resaltado, .zonas-humedas-text .resaltado {
    color: #F7931A;
}

.gym-text p, .zonas-humedas-text p {
    color: #555;
    font-size: 25px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
}

.gym-img-container, .zonas-humedas-img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
}

.gym-img, .zonas-humedas-img {
    width: 100%; 
    max-width: 500px; 
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: #F7931A solid 2px; 
}

@media (max-width: 992px) {
    .gym, .zonas-humedas {
        flex-direction: column; 
        padding: 40px 5%;
        text-align: center;
    }

    .gym-text h2, 
    .gym-text p,.zonas-humedas-text h2,
    .zonas-humedas-text p {
        text-align: center;
    }

    .gym-img-container, .zonas-humedas-img-container {
        justify-content: center;
    }
}

.spa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 290px;
    padding: 50px;
    background-color: #0D0D0D; 
    box-sizing: border-box;
}


.spa-text {
    flex: 1;
}

.spa-text h2 {
    color: #FFFFFF;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.spa-text .resaltado {
    color: #F7931A;
}

.spa-text p {
    color: #555;
    font-size: 25px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
}

.spa-img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.spa-img {
    width: 100%;
    max-width: 550px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    border: #F7931A solid 2px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 992px) {
    .spa {
        flex-direction: column; 
        padding: 40px 5%;
        text-align: center;
    }

    .spa-text h2, 
    .spa-text p {
        text-align: center;
    }

    .spa-img-container {
        justify-content: center;
    }
}